<!--<div class="container-fluid custom-modal-container">-->
  <!--<div class="row custom-modal-header">-->
    <!--<div class="col-sm-12">-->
      <!--<h1>A Custom modal design</h1>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row" [ngClass]="{'myclass' : shouldUseMyClass}">-->
    <!--<div class="col-xs-12">-->
      <!--<div class="jumbotron">-->
        <!--<h1>Do the math to quit:</h1>-->
        <!--<p class="lead">I received an injection of the number <strong>{{context.num1}}</strong> and the number <strong>{{context.num2}}</strong></p>-->
        <!--<span>What is the sum?</span>-->
        <!--<input class="form-control" type="text" #answer (keyup)="onKeyUp(answer.value)" autofocus>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="login-box">
  <a class="btn-close" (click)="closePopup()">✖</a>
  <div class="login-logo">
    <a><b>LOGIN</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <form action="../../index2.html" method="post">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label class="">
              <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;">
                <input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">
                <ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> Remember Me
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center row">
      <p>- OR -</p>
      <a href="#" class="btn btn-social btn-facebook btn-flat">
        <i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-social btn-google btn-flat pull-right">
        <i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div>
    <!-- /.social-auth-links -->

    <a href="#">I forgot my password</a><br>
    <a href="register.html" class="text-center">Register a new membership</a>

  </div>
  <!-- /.login-box-body -->
</div>
