/*.custom-modal-container {*/
  /*padding: 15px;*/
/*}*/

/*.custom-modal-header {*/
  /*background-color: #219161;*/
  /*color: #fff;*/
  /*-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);*/
  /*-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);*/
  /*box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);*/
  /*margin-top: -15px;*/
  /*margin-bottom: 40px;*/
/*}*/
.login-logo, .register-logo {
  font-size: 35px;
  text-align: center;
  margin-top: 10px;
  font-weight: 300;
}
.login-logo a, .register-logo a {
  color: #444;
}
.login-box-body, .register-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
}
.login-box-msg, .register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}
.login-box-body, .register-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
}
.has-feedback {
  position: relative;
}
.has-feedback .form-control {
  padding-right: 42.5px;
}
.has-feedback input{
  padding: 20px;
}
.form-control:not(select) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
}

.login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
  color: #777;
}
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 41px;
  height: 41px;
  line-height: 40px;
  text-align: center;
  pointer-events: none;
}

.checkbox, .radio {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.icheck>label {
  padding-left: 0;
}
.icheckbox_square-blue {
  background-position: 0 0;
}
.icheckbox_square-blue, .iradio_square-blue {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url(/assets/images/blue.png) no-repeat;
  border: none;
  cursor: pointer;
}

.btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}
.btn-primary {
  background-color: #3c8dbc;
  border-color: #367fa9;
}

.social-auth-links {
  margin: 10px 0;
}

.btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}
.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
  padding: 20px;
  width: 48%;
}
.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

.btn-social>:first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 60px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,0.2);
}
.btn-google {
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0,0,0,0.2);
  padding: 20px;
  padding-left: 44px;
  width: 48%;
}
a.btn-close {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #ddd;
  text-decoration: none;
  display: block;
  width: 24px;
  height: 24px;
  text-indent: -999px;
  overflow: hidden;
  background: url(/assets/images/icon-close.png) 50% no-repeat;
}
