<footer class="main-footer">

  <div class="container">
    <div class="pull-middle">
      <a href="about_us.html">About Us</a> | <a href="privacy_policy.html">Privacy Policy</a> | <a
      href="tos.html">Terms of Use</a> | <a href="dmca.html">DMCA</a> | <a href="rss.html">Rss Feeds</a>|
      <a href="contact_us.html">Contact Us</a>
    </div>
    <div class="pull-middle copyright-note">&#169; 2017 Tuổi Hoc Trò. All Rights Reserved.</div>
  </div><!--/.container-->

</footer>
