<!--<h3>Top Heroes</h3>-->
<!--<div class="grid grid-pad">-->
  <!--<a  class="col-1-4">-->
    <!--<div class="module hero">-->
      <!--<h4>{{hero.name}}</h4>-->
    <!--</div>-->
  <!--</a>-->
<!--</div>-->

<div class="bottom-header">
  <div class="container">
    <div class="header-bottom-left">
      <div id="slogan">Tuổi Học Trò - Cộng đồng học trò lớn nhất Việt Nam</div>
      <div id="social-love">
        <div id="fb-button-div">
          <div class="fb-like" data-href="https://www.facebook.com/TuoiHocTroVL" data-width="50px"
               data-layout="button_count" data-action="like" data-show-faces="false"
               data-share="false"></div>
        </div>
        <div id="twitter-button-div"><a
          href="javascript:if(confirm('https://twitter.com/flippyscripts\n\nThis file was not retrieved because it was filtered out by your project settings.\n\nWould you like to open it from the server?'))window.location='https://twitter.com/flippyscripts'"
          class="twitter-follow-button" data-show-count="false" data-show-screen-name="false"
          data-lang="en">Tuổi Hoc Trò</a>

        <!--twitter-button-div-->

        <div id="google-button-div">

          <!-- Place this tag where you want the widget to render. -->
          <div class="g-follow" data-annotation="none" data-height="20"
               data-href="https://plus.google.com/u/0/115028486914211340136/posts"
               data-rel="author"></div>

          <!-- Place this tag after the last widget tag. -->

        </div>
        <!--/.google-button-div -->

      </div>
      <!--/.social-love -->

    </div>
    <!--/.header-bottom-left -->

    <div id="search-box">
      <form class="navbar-form" role="search" id="search" method="get" action="search.php.htm">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" id="term" name="term">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--center-header-->
</div>
<div class="container">

  <div class="col-md-8" id="left">

    <div class="post-box" *ngFor="let item of heroes"   >
      <header class="post-header">
        <div class="post-title">
          <a [routerLink]="['/detail', item.id]">{{item.name}}</a>
        </div>
        <!--post-title-->
        <!--<div class="post-footer">469 views - 2 comments</div>-->
      </header>
      <div class="post-left">

        <div class="post">

          <div class="gif-img"><span class="glyphicon glyphicon-picture"></span> GIF</div>

          <img class="img-responsive thumb" alt="Office Boredom"
               src="/assets/images/thumb/thumb1.jpg"
               gif="uploads/office_boredom_5383439939.gif" width="600">

        </div>

        <div class="info-box">
          <span class="display-vote " data-id="10">{{item.point}} points</span>
          - <span class="display-vote " data-id="10">0 comments</span>
        </div>
        <div class="vote-box">

          <a  class="btn btn-default glyphicon glyphicon-arrow-up" [routerLink]="['/detail', item.id]"></a>
          <a class="btn btn-default glyphicon glyphicon-arrow-down" [routerLink]="['/detail', item.id]"></a>
          <a class="btn btn-default glyphicon glyphicon-comment" [routerLink]="['/detail', item.id]"></a>
        </div><!--vote-box-->

        <div class="social-box">

          <a class="btn btn-default fb-button" href="javascript:void(0);"
             onclick="popup('http://www.facebook.com/share.php?u=http://funbox2.flippydemos.com/post-10-office-boredom.html&amp;title=Office+Boredom')"><span
            class="fa fa-facebook"></span> <span class="remove-mobile">Facebook</span></a>

        </div><!--social-box-->

      </div><!--post-left-->

    </div>


    <nav id="page-nav"><a></a></nav>

  </div><!--/.col-md-8 -->

  <div class="col-md-4">

    <div id="featured-box">
      <div class="right-bar-title"><h1>Bài liên quan</h1></div>

      <a>
        <div class="featured-post">
          <div class="featured-image">
            <img alt="Honest Trailers - Guardians of the Galaxy "
                 src="/assets/images/thumb/thumb10.jpg">
          </div>
          <div class="featured-title"><h2>Honest Trailers - Guardians of...</h2></div>
        </div><!--featured-post-->
      </a>
      <a >
        <div class="featured-post">
          <div class="featured-image">
            <img alt="Romeo and Juliet vs Bonnie and Clyde."
                 src="/assets/images/thumb/thumb10.jpg">
          </div>
          <div class="featured-title"><h2>Romeo and Juliet vs Bonnie and...</h2></div>
        </div><!--featured-post-->
      </a>
      <a >
        <div class="featured-post">
          <div class="featured-image">
            <img alt="Now thats a kiss"
                 src="/assets/images/thumb/thumb10.jpg">
          </div>
          <div class="featured-title"><h2>Now thats a kiss</h2></div>
        </div><!--featured-post-->
      </a>
      <a >
        <div class="featured-post">
          <div class="featured-image">
            <img alt="Now thats a kiss"
                 src="/assets/images/thumb/thumb10.jpg">
          </div>
          <div class="featured-title"><h2>Now thats a kiss</h2></div>
        </div><!--featured-post-->
      </a>
    </div><!--featured-box-->

  </div><!--/.col-md-4 -->

</div><!--/.container-->
