<nav class="nav navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"></a></div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="header">
        <ul class="nav navbar-nav">
          <li><a routerLink="/home" >Home</a></li>
          <li><a routerLink="/hot">Hot</a></li>
          <li><a >Trending</a></li>
          <li><a >Fresh</a></li>
          <li class="dropdown"><a  class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-expanded="false">More <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a >GIF</a></li>
              <li><a >Comic</a></li>
              <li><a >Cool</a></li>
              <li><a >Cute</a></li>
              <li><a >Food</a></li>
              <li><a >Geeky</a></li>
              <li><a >Meme</a></li>
              <li><a >WTF</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a data-toggle="modal" (click)="openCustom()">Đăng nhập</a></li>
          <li><a data-toggle="modal" (click)="openCustom()">Đăng ký</a></li>
          <li class="btn-upload" (click)="openCustom()"><a>Upload</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.container-fluid -->
</nav>
