<!--<div *ngIf="hero">-->
  <!--<h2>{{hero.name}} details!</h2>-->
  <!--<div><label>id: </label>{{hero.id}}</div>-->
  <!--<div>-->
    <!--<label>name: </label>-->
    <!--<input [(ngModel)]="hero.name" placeholder="name"/>-->
  <!--</div>-->
  <!--<button (click)="goBack()">Back</button>-->
<!--</div>-->
<div class="container">

  <div class="col-md-8" id="left" *ngIf="hero">

    <div class="post-content-box">
      <header class="post-header">
        <div class="post-title"><a>{{hero.name}}</a></div>
        <div class="post-footer"><span class="display-vote" data-id="10">0 Points</span> &nbsp;-&nbsp; {{hero.point}}
          points &nbsp;-&nbsp; 2 comments
        </div>
      </header>

      <div class="vote-box-top">

        <a href="index.htm" class="btn btn-default glyphicon glyphicon-arrow-up">
          <span class="vote-font remove-mobile">UP</span></a>
        <a href="index.htm" class="btn btn-default glyphicon glyphicon-arrow-down "></a>

      </div>

      <div class="social-box-top">

        <a class="btn btn-default fb-button-top"><span
          class="fa fa-facebook"></span> <span class="remove-mobile">Facebook</span></a>

        <a href="index.htm" class="btn btn-default glyphicon glyphicon-arrow-right pull-right"></a>
      </div>

      <div class="post-page-left">

        <div class="ads-one">
          <a ><img border="0" src="/assets/images/thumb/thumb1.jpg" class="img-responsive"></a></div><!--ad-->

        <div class="bottom-share">
          <a class="fb-btn-long" >Share
            on Facebook</a>

        </div>

        <div class="post-date"><abbr class="timeago" title="2015-02-24T02:21:52-07:00"></abbr> BY <a
          class="user-link">FLIPPY</a></div>

        <!--/. Comments -->
        <div class="tabbable-panel">
          <div class="tabbable-line">
            <ul class="nav nav-tabs ">
              <li class="active">
                <a data-toggle="tab">Facebook Comments ()</a>
              </li>
              <li>
                <a data-toggle="tab">Flippy FunBox Demo Comments
                  (2)</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_default_1">
                <div class="fb-comments"
                     data-href=""
                     data-num-posts="6" data-width="100%"></div>
              </div>

              <div class="tab-pane" id="tab_default_2">


                <div class="theForm comment-from">

                  <form id="addCommentsForm" method="post">

                    <input type="hidden" name="name" id="name" value=""/>

                    <input type="hidden" name="ruid" id="ruid" value="0"/>

                    <input type="hidden" name="avatarlink" id="avatarlink"
                           value="/assets/images/default-avatar.png" class="bimg"/>

                    <input type="hidden" name="pid" id="pid" value="10"/>

                    <input type="hidden" name="email" id="email" value=""/>

                    <div class="form-group form-pull">
                                                <textarea name="comment" id="comment" class="form-control"
                                                          placeholder="Leave a comment"></textarea>
                    </div>

                    <input type="submit" class="btn btn-default btn-control pull-right"
                           data-toggle="modal" data-target="#myModal" href="#" value="Login"/>

                  </form>
                </div>

                <div id="jr"></div>

                <div class="comments-box">
                  <div class="media">

                    <a href="profile-228-dinky.html">
                      <img src="/assets/images/default-avatar.png"
                           alt="dinky Avatar" class="media-object pull-left" width="50"
                           height="50"> </a>


                    <div class="media-body">
                      <h4 class="media-heading"><a href="profile-228-dinky.html">dinky</a>
                        <small><abbr class="timeago"
                                     title="2017-01-14T03:47:25-07:00"></abbr></small>
                      </h4>
                      <p>:D<br/></p>
                    </div>

                    <div class="comment-vote-box">

                      <span class="comment-display-vote" data-id="1">1 Points</span>

                      <a href="index.htm"
                         class="comment-vote up glyphicon glyphicon glyphicon-arrow-up"
                         data-id="47" data-name="comment-up"></a>

                      <a href="index.htm"
                         class="comment-vote down glyphicon glyphicon-arrow-down" data-id="47"
                         data-name="comment-down"></a>

                    </div>
                  </div>
                </div>


                <div class="comments-box">
                  <div class="media">

                    <a href="profile-205-bukospy.html">
                      <img src="/assets/images/default-avatar.png"
                           class="media-object pull-left" width="50"
                           height="50"> </a>

                    <div class="media-body">
                      <h4 class="media-heading"><a href="profile-205-bukospy.html">bukospy</a>
                        <small><abbr class="timeago"
                                     title="2016-11-15T19:39:11-07:00"></abbr></small>
                      </h4>
                      <p>test</p>
                    </div>

                    <div class="comment-vote-box">

                      <span class="comment-display-vote" data-id="1">1 Points</span>

                      <a href="index.htm"
                         class="comment-vote up glyphicon glyphicon glyphicon-arrow-up"
                         data-id="45" data-name="comment-up"></a>

                      <a href="index.htm"
                         class="comment-vote down glyphicon glyphicon-arrow-down" data-id="45"
                         data-name="comment-down"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">

    <div id="featured-box">
      <div class="right-bar-title"><h1>Featured</h1></div>

      <a href="post-9-honest-trailers-guardians-of-the-galaxy-.html">
        <div class="featured-post">
          <div class="featured-image">
            <img alt="Honest Trailers - Guardians of the Galaxy "
                 src="/assets/images/thumb/thumb10.jpg">
          </div>
          <div class="featured-title"><h2>Honest Trailers - Guardians of...</h2></div>
        </div>
      </a>
      <a href="post-9-honest-trailers-guardians-of-the-galaxy-.html">
        <div class="featured-post">
          <div class="featured-image">
            <img alt="Romeo and Juliet vs Bonnie and Clyde."
                 src="/assets/images/thumb/thumb10.jpg">
          </div>
          <div class="featured-title"><h2>Romeo and Juliet vs Bonnie and...</h2></div>
        </div>
      </a>
      <a href="post-9-honest-trailers-guardians-of-the-galaxy-.html">
        <div class="featured-post">
          <div class="featured-image">
            <img alt="Now thats a kiss"
                 src="/assets/images/thumb/thumb10.jpg">
          </div>
          <div class="featured-title"><h2>Now thats a kiss</h2></div>
        </div>
      </a>
    </div>

  </div>

</div>
