
<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
  <meta charset="UTF-8"/>
  <base href="/">
  <title><%= app.title %></title>
  <meta property="og:title" content="<%= app.title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= app.url %>" />
  <meta property="og:image" content="<%= app.image %>" />
  <meta property="og:site_name" content="<%= app.name %>" />
  <meta property="og:description" content="<%= app.description %>" />
  <meta property="fb:app_id" content="<%= app.id %>" />
  <meta name="viewport" content="device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
<script>
  window.message = "<%- message || 'null' %>";

</script>
<!--MODULE COMPONENTS-->
</body>
</html>